body{
    font-family: 'PT Sans', sans-serif;
}

.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.vis {
  width: 400px;
  height: 325px;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  vertical-align: top;
  border: thin solid black;
  border-radius: 8px;
}

.activeVis {
  border: thin solid #d73027;
  background: #fee0d2;
}

.inactiveVis {
  border: thin solid #4682B4;
  background: #f7fbff;
}
